service: uoy-app-course-search

provider:
  name: aws
  runtime: nodejs12.x
  stage: v1
  region: eu-west-1
  # This role is required to deploy an application to AWS with an ESG Account. See https://wiki.york.ac.uk/display/AWS/AWS%3A+Github+Actions for details.
  cfnRole: arn:aws:iam::${env:AWS_ACCOUNT_ID}:role/GithubActionsDeploymentRole
  memorySize: 1024
  environment:
    NODE_ENV: production
  stackTags:
    name: course search
    group: ESG
    project: course-search
    status: ${env:DEPLOY_ENVIRONMENT, 'dev'}
    pushed_by: github
    defined_in: serverless
    repo_name: uoy-app-course-search
    team: "ESG Teaching and Learning"
  apiGateway:
    minimumCompressionSize: 1000

functions:
  server:
    handler: index.server
    events:
      - http: ANY /
      - http: ANY /{proxy+}

plugins:
  - serverless-apigw-binary
  - serverless-dotenv-plugin

custom:
  apigwBinary:
    types:
      - "*/*"
  domainName: ${env:DOMAIN_NAME, ''}
  sslCertificateArn: ${env:SSL_CERTIFICATE_ARN, ''}

# Exclude files and next.js dependencies that are not needed at runtime
package:
  exclude:
    - .*
    - .github/**
    - .idea/**
    - docs/**
    - src/**
    - package.json
    - package-lock.json
    - README.md
    - LICENSE
    - setupTests.js
    - jest.config.js
    - lighthouse.*.html
    - node_modules/@babel/**
    - node_modules/ally.js/**
    - node_modules/caniuse-lite/**
    - node_modules/lodash/**
    - node_modules/webpack/**
    - node_modules/terser/**
    - node_modules/es5-ext/**
    - node_modules/resolve-url-loader/**
    - node_modules/postcss/**
    - node_modules/acorn/**
    - node_modules/ajv/**
    - node_modules/@webassemblyjs/**
    - node_modules/cssnano-preset-simple/**
    - node_modules/snapdragon/**
    - node_modules/regenerate-unicode-properties/**
    - node_modules/pako/**
    - node_modules/source-map/**
    - node_modules/bluebird/**
    - node_modules/uri-js/**
    - node_modules/ast-types/**
    - node_modules/watchpack-chokidar2/**
    - node_modules/terser-webpack-plugin/**
    - node_modules/core-js-compat/**
    - node_modules/neo-async/**
    - node_modules/postcss-selector-parser/**
    - node_modules/css-loader/**
    - node_modules/sass-loader/**
    - node_modules/buffer/**
    - node_modules/adjust-sourcemap-loader/**
    - node_modules/ext/**
    - node_modules/tr46/**
    - node_modules/micromatch/**
    - node_modules/sharp/**
    - node_modules/@ampproject/**
    - node_modules/postcss-modules-parser/**
    - node_modules/css-modules-loader-core/**
    - node_modules/babel-plugin-react-css-modules/**
    - node_modules/es-abstract/**
    - node_modules/string.prototype.trimstart/**
    - node_modules/string.prototype.trimend/**

resources:
  Conditions:
    UseCustomDomainName: !Not
      - !Equals
        - ${self:custom.domainName}
        - ""

  Resources:
    ApiGatewayCustomDomainName:
      Type: AWS::ApiGateway::DomainName
      Condition: UseCustomDomainName
      Properties:
        RegionalCertificateArn: ${self:custom.sslCertificateArn}
        DomainName: ${self:custom.domainName}
        EndpointConfiguration:
          Types:
            - REGIONAL

    BasePathMapping:
      Type: AWS::ApiGateway::BasePathMapping
      Condition: UseCustomDomainName
      DependsOn: ApiGatewayDeployment${sls:instanceId}
      Properties:
        BasePath: ""
        DomainName: !Ref ApiGatewayCustomDomainName
        RestApiId: !Ref ApiGatewayRestApi
        Stage: ${self:provider.stage}

    AppCNAME:
      Type: Custom::CNAME
      Condition: UseCustomDomainName
      Properties:
        ServiceToken: arn:aws:sns:eu-west-1:230504789214:RequestRecordSet
        Source: ${self:custom.domainName}.
        Target: !Join ["", [!GetAtt ApiGatewayCustomDomainName.RegionalDomainName, "."]]
