.rich-tag-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 0 20px;
    padding: 0;
}

.rich-tag {
    box-sizing: border-box;
    background-color: #f0f2e9;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 23%;
    min-width: 206px;
    flex: 1 1 206px;
}

.rich-tag__title {
    font-family: museo-sans, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-size: 1rem;
    font-weight: 600;
    margin: 0; /* for paragraphs */
}

.rich-tag__text {
    font-size: 14px;
    font-size: 0.875rem;
    margin: 0;
    line-height: 1.45;
}

.c-hero__banner {
    background: linear-gradient(180deg, #138bb3 7.81%, #0f7799 100%);
    color: white;
    margin-left: 25%;
    margin-right: 25%;
}

.c-hero__banner h1 {
    /*Styling to pad the title so its not pressed against the title bar. We will likely want to remove this when we add the breadcrumbs.*/
    padding-top: 10px;
}
