@import "src/constants/styles/colours";

.course {
    list-style: none;
    margin: 0;
    color: colour("blue", 500 );
}

.course a {
    text-decoration: none;
    display: block;
    padding: 10px;
}

.course:hover {
    cursor: pointer;
    background-color: colour("blue", 300);
}
